@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


#contenedor{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "banner banner banner"
        "descripcion descripcion descripcion"
        "aprender aprender aprender"
        "proyectos proyectos proyectos"
}

/* HEADER */
.header{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-areas: "imglogo menu";
    background-color: #1c2541;
    height: 150px;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.imglogo {
    grid-area: imglogo;
    margin-left: 150px;
}

.logoitsc {
    width: 90px;
    height: auto;
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-right: 150px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 14pt;
    transition: color 0.3s ;
}

.link:hover{
    color:#456990
}

/* BANNER */
.banner {
    grid-area: banner;
    background-image: url(../página_1_img/pág01_banner.png);
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.textobanner {
    color: white;
    font-size: 32pt;
}

/* CONTENIDO */
.inforecuadro{
    grid-area: banner;
    width: 800px;
    height: 150px;
    position: relative; top: -50px; left: 200px;
    background: #456990;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.dato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    gap: 8px;
    transition: transform 0.3s ease;
}

.dato a {
    text-decoration: none;
    color: white;
}

.dato:hover{
    transform: translateY(-5px);
}

.icono {
    width: 36px;
    height: 36px;
}

.linea{
    width: 1.5px;
    height: 80px;
    background-color: white;
    margin-top: 30px;

}

/* SEC 01 DESCRIPCIÓN */
.descripcion{
    grid-area: descripcion;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 10px;
    column-gap: 60px;
}

.descripcion h2 {
    font-size: 28pt;
    color: #1C2541;
}

.descripcion p {
    font-size: 14pt;
    line-height: 24pt;
    text-align: justify;
}

.imagendescripcion {
        justify-self: end;
}

.imagendescripcion img {
    margin-top: 20px;
    width: 520px;
    height: auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

/* SEC 02 QUÉ APRENDERÁS */
.aprender{
    grid-area: aprender;
    display: grid;
    margin-top: 70px;
}

.aprender p {
    font-size: 28pt;
    text-align: center;
    margin-bottom: 50px;
    color: #1C2541;
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.tarjeta img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.tarjeta p{
    background: #1C2541;
    color: white;
    font-size: 14pt;
    padding: 20px 0;
    text-align: center;
}

.boton{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

.boton_vermas{
    background-color: #5F7FA7;
    color: white;
    text-decoration: none;
    padding: 16px 50px;
    border-radius: 35px;
    font-size: 16pt;
    transition: all 0.5s;
}

.boton_vermas:hover {
    background-color:#e63946;
}

/* SEC 03 PROYECTOS */
.proyectos{
    grid-area: proyectos;
    background: #E6E6E6;
    height: 750px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
}

.tituloproyectos{
    text-align: center;
    font-size: 28pt;
    color: #1C2541;
    margin-bottom: 40px;
}

.fila1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    margin-bottom: 30px;
}

.fila2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
}

.proyecto{
    overflow: hidden;
    position: relative;
        transition: transform 0.3s ease;
}

.proyecto:hover {
        transform: scale(1.03);
}

.proyecto img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.proyecto p{
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    font-size: 16pt;

}

.botonproyectos{
    text-align: center;
    padding-top: 55px;
}

.boton_vertodos {
    background-color: #5F7FA7;
    color: white;
    text-decoration: none;
    padding: 16px 50px;
    border-radius: 35px;
    font-size: 16pt;
    transition: all 0.5s;
}

.boton_vertodos:hover {
    background-color:#e63946;
}


/* FOOTER */
.footer{
    background-color: #e63946 ;
    height: 250px;
    margin-top: 80px;
}

.footer_contenido{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-top: 60px;
}

.menu_footer{
    display: grid;
    row-gap: 20px;
}

.menu_footer a {
    color: white;
    text-decoration: none;
    transition: all 0.3s 
}

.menu_footer a:hover {
    color: #1C2541;
}

.contacto_footer {
    color: white;
    display: grid;
    row-gap: 20px;
}

.redes_footer ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 15px;
    justify-content: center
}

.redes_footer img{
    width: 40px;
    height: 40px;
    margin-bottom: 90px;
}

.redes_footer a{
    display: inline-block;
    transition: transform .3s ease;
}

.redes_footer a:hover{
    transform: translateY(-5px) scale(1);
}

/* COPYRIGHT */
.copyright {
    background-color: #1c2541;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: white;
    font-size: 12px;
    margin: 0;
    width: 100%;
    text-align: center;
}